
<span class="icon {{ icon_class }}" data-icon="{{ name | downcase }}">
  
{% if name == 'clock' %}
	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M12 4.5C7.86421 4.5 4.5 7.86421 4.5 12C4.5 16.1358 7.86421 19.5 12 19.5C16.1358 19.5 19.5 16.1358 19.5 12C19.5 7.86421 16.1358 4.5 12 4.5ZM12 5.59756C15.5427 5.59756 18.4024 8.45726 18.4024 12C18.4024 15.5427 15.5427 18.4024 12 18.4024C8.45726 18.4024 5.59756 15.5427 5.59756 12C5.59756 8.45726 8.45726 5.59756 12 5.59756ZM12 6.5122C11.697 6.5122 11.4512 6.75801 11.4512 7.06098V12C11.4512 12.2029 11.562 12.3794 11.7256 12.4745L15.6871 14.7611C15.9493 14.9125 16.2844 14.8232 16.4359 14.561C16.5874 14.2987 16.4981 13.9636 16.2359 13.8121L12.5488 11.6856V7.06101C12.5488 6.75805 12.303 6.51223 12 6.51223V6.5122Z" fill="white"/>
	</svg>

{% elsif name == 'closing' %}
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
	<circle opacity="0.3" cx="10" cy="10" r="10" fill="white"/>
	<g opacity="0.5">
	<path d="M13.91 6.09C13.79 5.97 13.5956 5.97 13.4756 6.09L10 9.56563L6.52437 6.09C6.40437 5.97 6.20998 5.97 6.09 6.09C5.97001 6.20999 5.97 6.40438 6.09 6.52437L9.56563 10L6.09 13.4756C5.97 13.5956 5.97 13.79 6.09 13.91C6.20999 14.03 6.40438 14.03 6.52437 13.91L10 10.4344L13.4756 13.91C13.5956 14.03 13.79 14.03 13.91 13.91C14.03 13.79 14.03 13.5956 13.91 13.4756L10.4344 10L13.91 6.52437C14.03 6.40437 14.03 6.20998 13.91 6.09Z" fill="white"/>
	</g>
	</svg>
  
{% else %}
    <span>?</span>
{% endif %}

</span>